<h1 class="text-center"><%= t("departments.index.title") %></h1>

<div class="row mb-4 align-items-end">
  <div class="col-md-10">
    <%= form_with url: manager_departments_path, method: :get, local: true do |f| %>
      <%= f.text_field :query, value: params[:query], placeholder: t("departments.index.search_placeholder"), class: "form-control" %>
    <% end %>
  </div>
</div>

<%= render "shared/table_content_departments" %>
