<div class="col-md-8">
  <div class="card">
    <div class="card-header bg-success text-white">
      <i class="bi bi-calendar"></i> <%= t "dashboard.user.daily_report_progress" %>
    </div>
    <div class="card-body">
      <%= daily_reports_calendar_show @daily_reports %>
    </div>
  </div>
</div>
