<h2 class="mb-4 text-center"><%= t("daily_report.show.title") %></h2>

<%= render "shared/report_detail" %>

<div class="mt-4 d-flex justify-content-between">
  <%= link_to t("common.back"), user_daily_reports_path, class: "btn btn-secondary" %>
</div>
