$black-light: #222;
$blue-light: #007bff;
$border-bottom-color: #bbb;
$gray-dark: #555;
$gray-green: #343a40;
$gray-light: #fff;
$gray-medium-light: #eaeaea;
$light-gray: #777;
$red: red;
$red-light: #d8848c;
$yellow-light: #f4d576;
$white: white;
$green-light: #28a745;
